### Data Profiling 
###### Data Analysis before creating Data Pipeline

In [769]:
path_to_file = "/home/developer/Coding/assignments/data_engineer_assessment/data/fake_property_data.json"

import json
import pandas as pd


df = pd.read_json(path_to_file)

In [817]:
from pathlib import Path
import json

# path to file
# 
# # read json
with open(path_to_file, encoding='utf-8') as f:
    data = json.loads(f.read())

df = pd.json_normalize(data)

In [818]:
df.head(1)

,Property_Title,Address,Reviewed_Status,Most_Recent_Status,Source,Market,Occupancy,Flood,Street_Address,City,...,Longitude,Subdivision,Taxes,Selling_Reason,Seller_Retained_Broker,Final_Reviewer,School_Average,Valuation,HOA,Rehab
0,"875 Davis Overpass Suite 394, South Kathrynsid...","875 Davis Overpass Suite 394, South Kathrynsid...",,Closed,Internal,Chicago,None,None,875 Davis Overpass Suite 394,South Kathrynside,...,-81.853842,Manors,6389,Downsizing,None,Jason Miller,9.09,"[{'List_Price': 93528, 'Previous_Rent': 1699, ...","[{'HOA': 460, 'HOA_Flag': 'No'}, {'HOA': 476, ...","[{'Underwriting_Rehab': 66402, 'Rehab_Calculat..."

In [820]:
# datatypes of each column
df.dtypes

Property_Title             object
Address                    object
Reviewed_Status            object
Most_Recent_Status         object
Source                     object
Market                     object
Occupancy                  object
Flood                      object
Street_Address             object
City                       object
State                      object
Zip                        object
Property_Type              object
Highway                    object
Train                      object
Tax_Rate                  float64
SQFT_Basement               int64
HTW                        object
Pool                       object
Commercial                 object
Water                      object
Sewage                     object
Year_Built                  int64
SQFT_MU                     int64
SQFT_Total                  int64
Parking                    object
Bed                         int64
Bath                        int64
BasementYesNo              object
Layout                     object
Net_Yield                 float64
IRR                       float64
Rent_Restricted            object
Neighborhood_Rating         int64
Latitude                  float64
Longitude                 float64
Subdivision                object
Taxes                       int64
Selling_Reason             object
Seller_Retained_Broker     object
Final_Reviewer             object
School_Average            float64
Valuation                  object
HOA                        object
Rehab                      object
dtype: object

#### Understanding each column data

Aim here is to find datatype os each attribute and convert them to appropriate type
and try to make lookup table is any. So that it takes less storage.

In [821]:
for i in list(df.columns):
    try:
        print("Attribute name = ",i)
        print("Unique values count = ",df[i].nunique())
        print("Attribute data type =  ",df[i].dtype)
        if df[i].nunique() < 100:
            print("Unique Values = ",df[i].unique())
        print("_____"* 50)
    
    except TypeError:
        print(" Skipping... ",i)

Attribute name =  Property_Title
Unique values count =  10000
Attribute data type =   object
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Address
Unique values count =  10000
Attribute data type =   object
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Reviewed_Status
Unique values count =  10
Attribute data type =   object
Unique Values =  [' ' 'Reviewed' 'Null' ' Closed' 'Closed' 'New' 'Cancelled' 'Neww'
 'Accepted Offer' 'Offered']
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Most_Recent_Status
Unique values count =  12
Attribute data type =   object
Unique Values =  ['Closed' 'Cancelled' 'Null' 'Always Kick' ' ' 'Pend' 'Available' 'Close'
 ' Close ' 'Cancel' 'Kick' 'Pending']
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Source
Unique values count =  8
Attribute data type =   object
Unique Values =  ['Internal' 'Auction.com' 'Opendoor' 'M.L.S.' 'Bulk' ' MLS' 'M L S'
 'Broker']
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Market
Unique values count =  8
Attribute data type =   object
Unique Values =  ['Chicago' 'Dallas' 'Tampa' ' ' 'Dalas' 'Atlanta' 'Chicgo' 'Florida']
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Occupancy
Unique values count =  2
Attribute data type =   object
Unique Values =  [None 'No' 'Yes']
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Flood
Unique values count =  2
Attribute data type =   object
Unique Values =  [None 'Minimal Flood' 'Flood Zone']
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Street_Address
Unique values count =  10000
Attribute data type =   object
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  City
Unique values count =  7632
Attribute data type =   object
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  State
Unique values count =  59
Attribute data type =   object
Unique Values =  ['CO' 'MN' 'VI' 'DC' 'FL' 'MO' 'WA' 'GU' 'PW' 'NM' 'ME' 'LA' 'NE' 'MA'
 'KS' 'MT' 'TN' 'OK' 'MH' 'IL' 'KY' 'ID' 'NC' 'WY' 'HI' 'MS' 'OR' 'AS'
 'AZ' 'UT' 'GA' 'AR' 'NJ' 'IN' 'VA' 'SC' 'NH' 'SD' 'NV' 'AK' 'NY' 'ND'
 'WV' 'CT' 'RI' 'VT' 'OH' 'CA' 'FM' 'IA' 'WI' 'DE' 'AL' 'TX' 'PA' 'MD'
 'MP' 'PR' 'MI']
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Zip
Unique values count =  9501
Attribute data type =   object
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Property_Type
Unique values count =  5
Attribute data type =   object
Unique Values =  ['SFR' 'Single Family Home' 'Townhouse' 'Duplex' 'Condo']
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Highway
Unique values count =  2
Attribute data type =   object
Unique Values =  ['Far' None 'Near']
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Train
Unique values count =  2
Attribute data type =   object
Unique Values =  [None 'Far' 'Near']
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Tax_Rate
Unique values count =  251
Attribute data type =   float64
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  SQFT_Basement
Unique values count =  1986
Attribute data type =   int64
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  HTW
Unique values count =  2
Attribute data type =   object
Unique Values =  ['Yes' None 'No']
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Pool
Unique values count =  2
Attribute data type =   object
Unique Values =  ['No' None 'Yes']
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Commercial
Unique values count =  2
Attribute data type =   object
Unique Values =  ['Yes' None 'No']
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Water
Unique values count =  2
Attribute data type =   object
Unique Values =  ['Well' 'City' None]
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Sewage
Unique values count =  2
Attribute data type =   object
Unique Values =  ['City' 'Septic' None]
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Year_Built
Unique values count =  105
Attribute data type =   int64
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  SQFT_MU
Unique values count =  2904
Attribute data type =   int64
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  SQFT_Total
Unique values count =  5066
Attribute data type =   int64
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Parking
Unique values count =  3
Attribute data type =   object
Unique Values =  ['Street' 'Driveway' None 'Garage']
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Bed
Unique values count =  6
Attribute data type =   int64
Unique Values =  [2 5 1 4 6 3]
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Bath
Unique values count =  4
Attribute data type =   int64
Unique Values =  [3 2 4 1]
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  BasementYesNo
Unique values count =  2
Attribute data type =   object
Unique Values =  [None 'No' 'Yes']
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Layout
Unique values count =  3
Attribute data type =   object
Unique Values =  ['Split' 'Colonial' 'Ranch' None]
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Net_Yield
Unique values count =  1795
Attribute data type =   float64
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  IRR
Unique values count =  2456
Attribute data type =   float64
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Rent_Restricted
Unique values count =  2
Attribute data type =   object
Unique Values =  ['Yes' None 'No']
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Neighborhood_Rating
Unique values count =  5
Attribute data type =   int64
Unique Values =  [2 3 5 4 1]
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Latitude
Unique values count =  9994
Attribute data type =   float64
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Longitude
Unique values count =  10000
Attribute data type =   float64
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Subdivision
Unique values count =  195
Attribute data type =   object
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Taxes
Unique values count =  5884
Attribute data type =   int64
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Selling_Reason
Unique values count =  3
Attribute data type =   object
Unique Values =  ['Downsizing' None 'Job Transfer' 'Investor Sale']
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Seller_Retained_Broker
Unique values count =  2
Attribute data type =   object
Unique Values =  [None 'Yes' 'No']
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Final_Reviewer
Unique values count =  10
Attribute data type =   object
Unique Values =  ['Jason Miller' 'Luis Garcia' 'Samantha Pierce' 'Priya Sharma'
 'Emily Patel' 'Jessica Lin' 'David Thompson' 'Michael Chen' 'Amit Kumar'
 'Sophia Williams']
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  School_Average
Unique values count =  701
Attribute data type =   float64
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
Attribute name =  Valuation
 Skipping...  Valuation
Attribute name =  HOA
 Skipping...  HOA
Attribute name =  Rehab
 Skipping...  Rehab

In [822]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 45 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Property_Title          10000 non-null  object
 1   Address                 10000 non-null  object
 2   Reviewed_Status         10000 non-null  object
 3   Most_Recent_Status      10000 non-null  object
 4   Source                  10000 non-null  object
 5   Market                  10000 non-null  object
 6   Occupancy               6718 non-null   object
 7   Flood                   6591 non-null   object
 8   Street_Address          10000 non-null  object
 9   City                    10000 non-null  object
 10  State                   10000 non-null  object
 11  Zip                     10000 non-null  object
 12  Property_Type           10000 non-null  object
 13  Highway                 6602 non-null   object
 14  Train                   6669 non-null   object
 15  Tax_Rate                10000 non-null  float64
 16  SQFT_Basement           10000 non-null  int64
 17  HTW                     6599 non-null   object
 18  Pool                    6585 non-null   object
 19  Commercial              6716 non-null   object
 20  Water                   6697 non-null   object
 21  Sewage                  6748 non-null   object
 22  Year_Built              10000 non-null  int64
 23  SQFT_MU                 10000 non-null  int64
 24  SQFT_Total              10000 non-null  int64
 25  Parking                 7511 non-null   object
 26  Bed                     10000 non-null  int64
 27  Bath                    10000 non-null  int64
 28  BasementYesNo           6635 non-null   object
 29  Layout                  7446 non-null   object
 30  Net_Yield               10000 non-null  float64
 31  IRR                     10000 non-null  float64
 32  Rent_Restricted         6701 non-null   object
 33  Neighborhood_Rating     10000 non-null  int64
 34  Latitude                10000 non-null  float64
 35  Longitude               10000 non-null  float64
 36  Subdivision             10000 non-null  object
 37  Taxes                   10000 non-null  int64
 38  Selling_Reason          7511 non-null   object
 39  Seller_Retained_Broker  6687 non-null   object
 40  Final_Reviewer          10000 non-null  object
 41  School_Average          10000 non-null  float64
 42  Valuation               10000 non-null  object
 43  HOA                     10000 non-null  object
 44  Rehab                   10000 non-null  object
dtypes: float64(6), int64(8), object(31)
memory usage: 3.4+ MB

In [823]:
df.Property_Title.duplicated().sum()

np.int64(0)

In [826]:
# from ydata_profiling import ProfileReport

# profile = ProfileReport(df, title="Data Profile Report")
# profile.to_file("report.html")